<div class="new-task">
  <div class="new-task_input-container">
    <div *ngIf="showProfanityError" class="error">
      Não é permitido cadastrar tarefas com palavras obscenas.
    </div>
    <label class="new-task_label" for="new-task">Título da Tarefa</label>
    <input
      id="new-task"
      class="new-task_input"
      type="text"
      [(ngModel)]="newTaskTitle"
      (keyup.enter)="addTask()"
      placeholder="Descreva aqui de forma breve a sua tarefa."
    />
  </div>
  <button class="new-task_button" (click)="addTask()">
    Salvar
  </button>
</div>
